# ignore all files and plugin repos of the workspace ...
.*
*.*
/*/
*
package-lock.json

# ... except all files relevant for the product build
!/.circleci/
!/.github
!templates/
!templates/web/
!templates/web/deploy
!templates/web/deploy/web
!templates/web/deploy/web/*
!templates/api/
!templates/api/deploy
!templates/api/deploy/api
!templates/api/deploy/api/*
!.editorconfig
!.gitattributes
!.yo-rc.json
!ISSUE_TEMPLATE.md
!LICENSE
!README.md
!build.js
!package.json
!phovea_product.*
!Jenkinsfile
!docker_script.sh
!docker-compose-patch.*
