# ignore all files and plugin repos of the workspace ...
.*
*.*
/*/
*
package-lock.json

# ... except all files relevant for the product build
!/.circleci/
!/.circleci/**/*
!/.github/
!/.github/**/*
!templates/
!templates/web/
!templates/web/**/*
!templates/api/
!templates/api/**/*
!.editorconfig
!.gitattributes
!.yo-rc.json
!ISSUE_TEMPLATE.md
!LICENSE
!README.md
!build.js
!package.json
!phovea_product.*
!Jenkinsfile
!docker_script.sh
!docker-compose-patch.*

# Cypress
!cypress.json
!cypress/
!cypress/**
cypress/screenshots/*
cypress/videos/*
